<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
<body>
<div id="app">
    <section class="row">
            <div class="title medium-12 columns text-center">
                <div class="logo">
                    <img src="./assets/space-invaders.svg"/>
                </div>
                VUE JS 2 - THE FINAL BOSS
            </div>
    </section>
    <section class="game row">
        <div class="small-5 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div 
                    class="healthbar inner-healthbar text-center"
                    :style="{width: playerHealth + '%'}">
                    {{playerHealth}}%
                </div>
            </div>
        </div>
        <div class="small-2 columns">
            <h1 class="text-center vs">VS</h1>
        </div>
        <div class="small-5 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div 
                    class="healthbar inner-healthbar text-center"
                    :style="{width: monsterHealth + '%'}">
                    {{monsterHealth}}%
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
            <a href="#" class="button button-new-game" @click="startGame">
                <span>START NEW GAME</span>
            </a>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <a href="#" class="button button-attack" @click="attack">
                <span>ATTACK</span>
            </a>
            <a href="#" class="button button-spe-attack" @click="specialAttack">
                <span>SPECIAL ATTACK</span>
            </a>
            <a href="#" class="button button-heal" @click="heal">
                <span>HEAL</span>
            </a>
            <a href="#" class="button button-give-up" @click="giveUp">
                <span>GIVE UP</span>
            </a>
        </div>
    </section>
    <section v-if="turns.length" class="row log">
        <div class="small-12 columns">
            <ul>
                <li v-for="turn in turns"
                    :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
                    {{ turn.text }}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src='./app.js'></script>
</body>
</html>